#sidebar {
  overflow: hidden;
  z-index: 3;
}
#sidebar .list-group {
  min-width: 300px;
  min-height: 300vh;
  background-color: rgb(5, 11, 53);
}

#sidebar .list-group-item {
  border-radius: 0;
  white-space: nowrap;
}

@media (max-width:768px) {
  #sidebar {
      min-width: 35px;
      max-width: 40px;
      overflow-y: auto;
      overflow-x: visible;
      transition: all 0.25s ease;
      transform: translateX(-45px);
      position: fixed;
  }
  
  #sidebar.show {
      transform: translateX(0);
  }

  #sidebar::-webkit-scrollbar{ width: 0px; }
  
  #sidebar, #sidebar .list-group {
      min-width: 35px;
      overflow: visible;
  }
  /* overlay sub levels on small screens */
  #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
      position: relative;
      z-index: 1;
      width: 190px;
      top: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* .sidebar-nav li:hover {
  background-color: #2483c3;
} */

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

.sidebar-nav li a {
    text-decoration: none;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

#sub-links {
  display: none;
  padding-left: 20px;
}

.collapse.show {
visibility: visible;
}
.collapsing {
visibility: visible;
height: 0;
-webkit-transition-property: height, visibility;
transition-property: height, visibility;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.collapsing.width {
-webkit-transition-property: width, visibility;
transition-property: width, visibility;
width: 0;
height: 100%;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}

a['data-toggle="collapse"'] {
  display: block;
  position: absolute;
}

a {
  color: white !important;
  background-color: rgb(5, 11, 53) !important;
}

div .collapse {
  padding-left: 30px;
}
