#principal-morador {
    width: calc(100% - 300px);
    margin-left: 300px;
    margin-right: 20px;
    padding: 30px;
    background-color: white !important;
}

#buttons {
    margin-left: 350px;
    padding: 30px;
}