/* #principal-funcionario {
    width: calc(100% - 300px);
    margin-left: 277px;
    margin-right: 20px;
    padding: 30px;
    background-color: white !important;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

#novo:hover {
    color: white;
}
.ui.grid>.row {
    display: flex !important;
}
#info-moradores_info, #info-funcionarios_length {
    font-weight: bold;
}
#info-funcionarios_filter {
    font-weight: bold;
    text-align: right;
}
select[name="info-funcionarios_length"] {
    padding: 10px;
    border-radius: 5px;
}
th {
    font-size: 12pt;
}