body {
    background-color: #E3E3E3 !important;
}

#toast-container
{
    margin-top: 10px !important;
}

/*Botões*/
#buttons {
    margin-left: 0;
    padding: 21px;
}

/*Títulos*/
h1::after {
    /*content: '|';*/
    margin-left: 5px !important;
    opacity: 1 !important;
    animation: pisca .7s infinite !important; 
}

@keyframes pisca {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.tooltip {
    opacity: 1 !important;
}

/*Loader*/
#loader {
    position: absolute;
    margin-top: 25%;
}

.ui.active.dimmer {
    height: 32vh;
    position: fixed;
    width: 20%;
    margin-left: 44%;
    margin-top: 15%;
}

.toast {
    opacity: 1 !important;
}