body {
    background-color: #E3E3E3 !important;
}

#toast-container
{
    margin-top: 10px !important;
}

#buttons {
    margin-left: 0;
    padding: 21px;
}

h1::after {
    /*content: '|';*/
    margin-left: 5px !important;
    opacity: 1 !important;
    animation: pisca .7s infinite !important; 
}

@keyframes pisca {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}