body {
    background-color: #E3E3E3 !important;
}

#principal {
    width: calc(100% - 300px);
    margin-left: 277px;
    margin-right: 20px;
    padding: 30px;
    background-color: white !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#menu-home {
    width: calc(100% - 300px);
    margin-left: 277px !important;
    margin-right: 20px !important;
    padding: 30px;
    background-color: white !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#toast-container
{
    margin-top: 10px !important;
}

/*Botões*/
#buttons {
    margin-left: 0;
    padding: 21px;
}

/* tbody td .ui.blue.button {
    background-color: #1881da;
}

tbody td .ui.blue.button:hover {
    background-color: #1881da;
} */
/* 
tbody td .ui.red.button {
    background-color: #ff2f2f;
}

tbody td .ui.red.button:hover {
    background-color: #ff2f2f;
} */

#btn-option-save {
    background-color: #12bb3a !important;
}

#fieldset {
    padding: 20px !important;
    border-radius: 5px !important;
}

/*Títulos*/
h1::after {
    /*content: '|';*/
    margin-left: 5px !important;
    opacity: 1 !important;
    animation: pisca .7s infinite !important; 
}

@keyframes pisca {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.tooltip {
    opacity: 1 !important;
}

/*Loader*/
#loader {
    position: absolute;
    margin-top: 25%;
}

.ui.active.dimmer {
    height: 32vh;
    position: fixed;
    width: 20%;
    margin-left: 44%;
    margin-top: 15%;
}

.toast {
    opacity: 1 !important;
}

th, td {
    font-size: 10pt !important;
}

.ui.grid > .row > [class*="eight wide"].column, .ui.grid > .column.row > [class*="eight wide"].column, .ui.grid > [class*="eight wide"].column, .ui.column.grid > [class*="eight wide"].column {
    width: 60% !important;
}

.right.aligned.eight.wide.column label {
    text-align: center;
}